html {
    overflow-x: hidden;
    width: 800px;
}
body {
    color: #333;
    font-family: sans-serif;
    font-size: medium;
    -webkit-font-smoothing: antialiased;
}

h2 {
    margin: 0;
}
code {
    font-size: large;
}

date {
    display: inline-block;
    color: #111;
    white-space: nowrap;
}

form {
    clear: both;
    overflow: hidden;
}

legend {
    font-weight: bold;
}

fieldset {
    border: 1px solid #cccccc;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

input {
    font-size: 16px;
    line-height: 140%;
}

.caption {
    font-size: small;
    font-style: italic;
    line-height: 150%;
    margin-top: 10px;
    width: 360px;
}
table {
    border-collapse: collapse;
}

label {
    display: inline-block;
}
#textualisation {
    overflow: hidden;
}
#textualisation .heading-segment {
    border: 1px solid #ccc;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
}
#heading {
    overflow: hidden;
}

#versionRocker  {
    display: none;
}

#details {
    clear: both;
    float: left;
    line-height: 140%;
    margin-right: 20px;
}
#currentTerm {
    float: left;
    line-height: 140%;
}

#subscription {
    border: 1px solid #cccccc;
    clear: both;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    width: 750px;
}

#key ul {
    list-style-type: none;
    padding-left: 10px;
}
#key li {
    padding-left: 22px;
}

#key label {
    background-color: white;
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 4px;
}

.active {
    color: green;
}

.lapsed {
    color: darkorange;
}

.cancelled {
    color: orangered;
}

.auto-renewing {
    color: green;
}

.one-off {
    color: darkorange;
}

.grid-container {
    width: 100%;
    overflow: scroll;
}

#multi-term-grid th {
    line-height: 250%;
}

.aTerm {
    border: 1px;
    overflow: hidden;
    padding: 0;
}

.term0 {
    border: 1px solid green;
    padding-bottom: 1px;
    min-width: 20px;
}

.term1 {
    border: 1px solid green;
    padding-bottom: 1px;
}

.term2 {
    border: 1px solid grey;
    padding-bottom: 1px;
}

.aDay {
    display: inline-block;
    height: 21px;
    margin-top: 1px;
    width: 1px;
}

.covered-not-refundable {
    background-color: lightgreen;
    border: 2px solid green;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 19px;
}

.covered {
    background-color: forestgreen;
}

.lead-time {
    background-color: #d0c6b1;
}

.holiday {
    background-color: gold;
}

.discounted {
    background-color: goldenrod;
}

.grace {
    background-color: #99cccc;
}

.scheduled {
    background-color: darkseagreen;
}

.evergreen {
    background-color: #90a88e;
}

.lost-revenue {
    background-color: #e18d01;
}

.future {
    background-color: lightgray;
}

.ticks {
    height: 22px;
}

.ticks,
.legend {
    position: relative;
}

.legend {
    height: 66px;
}

.ticks .tick {
    background-color: black;
    height: 22px;
    position: absolute;
    top: 0;
    width: 1px;
}

.legend date {
    background-color: white;
    position: absolute;
}

.legend date:nth-child(1n) {
    top: 0;
}

.legend date:nth-child(2n) {
    top: 1em;
}

.legend date:nth-child(3n) {
    top: 2em;
}

.legend date:nth-child(4n) {
    top: 3em;
}

.ticks .today {
    background-color: cornflowerblue;
}

.legend .today {
    color: cornflowerblue
}

.rpc {
    position: relative;
    height: 22px;
}

.rpc-label {
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    left: 2px;
    overflow: hidden;
    padding-top: 1px;
    position: absolute;
    white-space: nowrap;
}